* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  position: relative;
  margin: 0;
}
header .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  background-color: black;
  height: 50px;
  margin-bottom: 5%;
}
@media only screen and (min-width: 900px) {
  header .top-bar {
    margin-bottom: 0;
  }
}
header .sm-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  margin-left: 5%;
  width: 30%;
  color: white;
}
@media only screen and (min-width: 900px) {
  header .sm-icons {
    width: 20%;
  }
}
header .sm-icons:nth-child(1):hover {
  color: #E6E6E6;
}
header .sm-icons:nth-child(2):hover {
  color: #E6E6E6;
}
header .sm-icons:nth-child(3):hover {
  color: #E6E6E6;
}
header .sm-icons:nth-child(4):hover {
  color: #E6E6E6;
}
header .sm-icons:nth-child(5):hover {
  color: #E6E6E6;
}
header .sm-icons:nth-child(6):hover {
  color: #E6E6E6;
}
@media only screen and (min-width: 900px) {
  header h1 {
    font-size: 3em;
  }
}

.menu {
  position: relative;
  width: 80%;
  margin-right: 5%;
}
@media only screen and (min-width: 900px) {
  .menu {
    margin-right: 0;
  }
}

.search {
  margin-right: 5%;
}

.menu-image {
  position: relative;
  margin: 0;
  width: 15%;
  float: left;
}
@media only screen and (min-width: 900px) {
  .menu-image {
    display: none;
  }
}

.main-heading {
  float: left;
  margin: 0;
  text-align: center;
  width: 85%;
}
@media only screen and (min-width: 900px) {
  .main-heading {
    float: none;
  }
}
.main-heading h1 {
  margin: 0;
  font-size: 3em;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: no-wrap;
  position: relative;
  width: 100%;
  background-color: #E6E6E6;
  min-height: 100%;
  z-index: 10;
}
@media only screen and (min-width: 900px) {
  .dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;
    width: 40%;
    margin-left: 30%;
    margin-top: 15px;
    background-color: white;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  margin-left: 5px;
  background-color: #E6E6E6;
  width: 100%;
}
.dropdown-content:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 900px) {
  .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
  .dropdown-content:hover {
    color: black;
  }
}

.dd-dd-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: 10px;
  height: 100%;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
@media only screen and (min-width: 900px) {
  .dd-dd-container {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 0;
    height: 175px;
    margin: 0;
    z-index: 10;
  }
}
.dd-dd-container a {
  width: 100%;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 5px 0;
  padding-left: 5px;
  color: black;
}
.dd-dd-container a:hover {
  background-color: #007BFF;
  color: white;
}
.dd-dd-container a:last-child {
  margin-bottom: 0;
}

#slideshow-container {
  width: 90%;
  height: 300px;
  margin-left: 5%;
  margin-top: 5%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media only screen and (min-width: 600px) {
  #slideshow-container {
    height: 400px;
  }
}
@media only screen and (min-width: 900px) {
  #slideshow-container {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #slideshow-container {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 1%;
  }
}
#slideshow-container:hover .prev {
  display: block;
}
#slideshow-container:hover .next {
  display: block;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.slide:nth-child(1) {
  background-image: url("https://www.opitrip.com/blog/wp-content/uploads/An-Extraordinary-Traveler-Group-Travel-2.jpg");
}
.slide:nth-child(2) {
  background-image: url("https://discover.rbcroyalbank.com/wp-content/uploads/banner-small-canadian-travel-food-edition_402x-2.jpg");
}
.slide:nth-child(3) {
  background-image: url("https://premiergazette.com/wp-content/uploads/2018/02/global-business.jpg");
}

.active, .dots:hover {
  background-color: #007BFF;
}

.fade {
  animation-duration: 1.5s;
  animation-name: fader;
}

@keyframes fader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.dots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  position: absolute;
  width: 40px;
  height: 10px;
  z-index: 9;
  bottom: 10px;
  left: 10px;
}

.dots {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 10;
  height: 10px;
  width: 10px;
}

.prev, .next {
  cursor: pointer;
  display: none;
  position: absolute;
  text-shadow: -2px 0px black;
  top: 45%;
  z-index: 100;
  font-size: 3em;
  color: white;
}

.next {
  display: none;
  right: 0;
  text-shadow: 2px 0px black;
}

.second-heading {
  margin-top: 10%;
}
@media only screen and (min-width: 900px) {
  .second-heading {
    margin-top: 5%;
  }
}
.second-heading h1 {
  margin-left: 5%;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  width: 90%;
  margin-left: 5%;
}
@media only screen and (min-width: 600px) {
  .category-container {
    width: 75%;
    margin-left: 12.5%;
  }
}
@media only screen and (min-width: 900px) {
  .category-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
  }
}

.category {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}
@media only screen and (min-width: 900px) {
  .category {
    width: 45%;
  }
}
@media only screen and (min-width: 1200px) {
  .category {
    width: 30%;
  }
}

.small-category {
  background-color: #007BFF;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.third-heading h1 {
  margin-left: 5%;
}

.bottom-category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  width: 90%;
  margin-left: 5%;
}

.bottom-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
  margin-bottom: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bottom-category .cat-pic {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 600px) {
  .bottom-category .cat-pic {
    height: 100%;
    width: 25%;
  }
}
.bottom-category h2 {
  margin: 0;
  font-size: 1.2em;
}
@media only screen and (min-width: 600px) {
  .bottom-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: no-wrap;
  }
}

.back-to-top {
  width: 100%;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  background-color: #414142;
}

.bottom-info-container {
  width: 100%;
  background-color: black;
}

.bottom-middler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  background-color: black;
  padding-top: 5%;
  width: 80%;
  margin-left: 10%;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  color: white;
  width: 30%;
  height: 150px;
}
.bottom-info h3 {
  margin-top: 0;
}
.bottom-info a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}
