



#page{
	padding:0;
	margin:0;
}
*{
	box-sizing:border-box;
}

#nav_bar{
	width:100%;
	float:left;
	height:60px;
	background-color:white;
	display:flex;
	justify-content:flex-start;
	
}
.logo_container{
	width:35%;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}
.nav_logo{
	display:flex;
	width:65%;
	justify-content:flex-start;
	align-items:flex-start;
	flex-direction:column;
	height:60px;
}
.spacer{
	display:none;
	width:47.5%;
	height:70px;
}
.nav_logo h1 {
	color:black;
	transform:translateY(-15%);
	font-size:250%;
	font-family:gotham;
	margin-left:10%;
}
.nav_logo h2{
	color:black;
	transform:translateY(-55%);
	font-size:150%;
	font-family:gotham;
	margin-left:15%;
}
.nav_button{
	border-left:1px solid grey;
	border-right:1px solid grey;
	display:flex;
	width:75px;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	opacity:.6;
	position:relative;
}
.nav_button:last-child{
	border:none;
	margin-top:-5px;
}
.dropdown{
	display:none;
	border:2px solid black;
	z-index:2;
	width:200px;
	height:110px;
	position:absolute;
	top:70px;
	right:70px;
	background-color:white;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-end;
	
}
.dropdown.flexer{
	display:flex;
}
form{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-left:20px;
}
h1{
	margin:0;
	padding:0;
	
}
h2{
	
	margin:0;
	padding:0;
}
.top_pic_container{
	display:flex;
	width:100%;
	height:auto;
}
.top_pic_container img{
	height:auto;
	width:100%;
}
#search_bar_container{
	display:flex;
	background-color:#484848;
	width:100%;
	justify-content:space-between;
	padding:5px;
}
#search_bar{
	display:flex;
	width:72.5%;
}
#search_bar input[type=text]{
	width:100%;
	border-radius:3px;
	background-color:black;
	color:white;
	border:none;
}
#date_pick{
	display:none;
	width:20%;
}
#date_pick input{
	width:100%;
}
#search_button{
	display:inline-block;
	width:25%;
	background:linear-gradient(#F0D64E,#F9A602 ,#F0D64E  );
	border-radius:3px;
	cursor:pointer;
	border:none;
	color:white;
	font-size:60%;
	font-family:arial;
	font-weight:bold;
	padding:12px 0;
}
.header2{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	height:150px;
}

.header_line{
	height:20px;
	width:10%;
	border-bottom:3px solid #FFCF40;
}
#middle_pic_container{
	width:100%;
	display:flex;
	align-items:center;
	flex-direction:column;
}

#middle_room1{
	width:100%;
	height:auto;
	display:flex;
}
#middle_room2{
	display:none;
}
#middle_overlay{
	display:flex;
	background-color:black;
	border:5px solid white;
	height:300px;
	width:60vw;
	align-items:center;
	justify-content:center;
	transform:translateY(-25%);
	outline:2px solid black;
}
#inner_overlay{
display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
	border:1px solid #F0D64E;
	width:90%;
	height:90%;
	color:white;
	text-align:center;
}
#inner_overlay span{
	width:100%;
}
p{
	padding:0;
	margin:0;
}
#learnMore{
	
	transform:translateY(60%);
	background-color:transparent;
	border:1px solid #f9e25e;
	color:#f9e25e;
	
	padding:5px 10px;
	align-self:center;
}
.hotel_container{
	
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content:space-between;
	
}
.panel_container{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
}
.hotel_panel{
	position:relative;
	z-index:1;
	cursor:pointer;
	margin-bottom:20px;
	width:90%;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
	outline:.1px solid black;
	border:6px solid white;
	height:140px;
	box-shadow: 0 7px 13px rgba(0,0,0,0.35);
	background-size:100% 100%;
}

.popout_container{
	display:flex;
	width:100%;
	flex-direction:row;
	justify-content:center;
	align-items:flex-end;
	z-index:0;
	position:relative;
	transform:translateY(-10%);
	height:400px;
	background-color:#494848;
	transition:.7s;
	
}
.popout_container.open{
	
	
	display:flex;
}
.popout_container.slide{
	transform:translateY(-10%);
	height:400px;
	
}
.popout_container.slide .popout_panel{
	height:320px;
	border:2px solid white;
	display:flex;
}
.popout_panel{
	z-index:1;
	cursor:pointer;
	display:none;
	width:90%;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	border:2px solid white;
	height:320px;
	margin-bottom:10px;
	position:relative;
	transition:1s;
}
.popout_panel a{
	margin-top:10px;
	border:1px solid white;
	padding:5px 10px;
	text-decoration:none;
	color:gold;
	border-radius:3px;
}
.hotel_container p{	
	transform:translateY(-50%);
	font-size:150%;
	color:white;
}
.popout_panel.clicked{
	height:320px;
	border:2px solid white;
}
.price{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100px;
	height:75px;
	position:absolute;
	top:0;
	left:30px;
	background-color:black;
	cursor:pointer;
}
.price * {
	color:white;
	margin:0;
	padding:0;
}
.slideshow_container{
	position:relative;
	width:100%;
	height:100%;
}
.slides{
	display:none;
	text-align:center;
	height:100%;
}

.slides:last-child {
	display:block;
	
}
.slides p{
	margin-top:10px;
}
.slides a{
	
	margin-top:10px;
	border:1px solid white;
	padding:5px 10px;
	text-decoration:none;
	color:gold;
	border-radius:3px;
	
}

.prev, .next{
	z-index:10;
	background-color:black;
	cursor:pointer;
	color:white;
	font-size:2em;
	position:absolute;
	top:50%;
}
.next{
	right:0;
}
.end_container{
	width:100%:
	margin-top:10%;
	background-color:#ECECEC;
	display:flex;
	flex:1;
	height:500px;
	flex-direction:column;
}
.nest{
	
	display:flex;
	height:200px;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
}
.nest:nth-child(2){
	width:100%;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
}
.nest:last-child{
	
	height:100px;
	flex-direction:row;
	align-items:center;
}
.nest:last-child a:last-child{
}
.nest:last-child a{
	text-decoration:underline;
	padding:10px;
	color:black;
}
.bottom_pics{
	width:50%;
	height:100%;
}
.bottom_pics:nth-child(2){ 
	display:none;
}
.bottom_pics:nth-child(4){
	display:none;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}
.bottom_pics:nth-child(5){
	display:none;
}
.icons{
	margin-top:10px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.bottom_pics:last-child{
	display:none;
	width:30%;
	height:50%;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	background-image:url('pictures/pool.jpg');
	background-size:100% 100%;
}
